@define-color ironbar_base_color #101818;
@define-color ironbar_text_color #E6E1C4;
@define-color ironbar_green_background_color #0d372d;
@define-color ironbar_green_color #7DAF9C;
@define-color ironbar_blue_color #6C99BB;
@define-color ironbar_red_color #EF5D32;
@define-color ironbar_orange_color #EFAC32;
@define-color ironbar_yellow_color #D9D762;
@define-color ironbar_brown_color #947659;

/* Implement bottom inset border on hover to labels */

/* .bg-green { */
/*   background: @ironbar_green_background_color; */
/* } */

/* .blue { */
/*   background: @ironbar_blue_color; */
/* } */

/* .orange { */
/*   background: @ironbar_orange_color; */
/* } */

/* .red { */
/*   background: @ironbar_red_color; */
/* } */

* {
  font-family: Noto Sans, FontAwesome, Helvetica, Arial, sans-serif;
  color: @ironbar_text_color;
  font-size: 13px;
  font-weight: 600;
  border-radius: 0px;
}

.background {
  background: @ironbar_base_color;
}

#bar #start .widget {
  padding: 0px 8px; /* left buttons right padding */
}

.workspaces .item {
  box-shadow: inherit;
  border: none;
  background: @ironbar_base_color;
  padding: 0px 9px; /* true rectangle padding */
}

.workspaces .item.focused {
  background: @ironbar_green_background_color;
}

.workspaces .item:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @ironbar_blue_color;
  border: none;
  transition: none;
}

.focused.widget {
  padding: 0px 1px; /* Title left/right padding */
}

#disk, #memory, #cpu, #volume, #network, #bluetooth, #battery {
  padding: 0px 5px
}

#battery span {
  background: red;
  border: solid 1px red;
}

#bluetooth, #network {
  color: @ironbar_blue_color;
}

#bluetooth .connected, #bluetooth .connected {
  color: @ironbar_green_color;
}

#weather {
  color: @ironbar_orange_color;
  padding-top: 0.5px; /* adjust top alignment */
}

#clock {
  background: @ironbar_base_color;
  border: none;
  box-shadow: inherit;
}
