@define-color waybar_base_color #101818;
@define-color waybar_text_color #E6E1C4;
@define-color waybar_green_background_color #0d372d;
@define-color waybar_green_color #7DAF9C;
@define-color waybar_blue_color #6C99BB;
@define-color waybar_red_color #EF5D32;
@define-color waybar_orange_color #EFAC32;
@define-color waybar_yellow_color #D9D762;
@define-color waybar_brown_color #947659;

* {
  font-family: Noto Sans ,FontAwesome, Helvetica, Arial, sans-serif;
  color: @waybar_text_color;
  font-size: 13px;
  font-weight: bold;
  border-radius: 0px;
}

window#waybar {
  background: @waybar_base_color;
}

#workspaces button.active {
  background: @waybar_green_background_color;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @waybar_blue_color;
  border: none;
  transition: none;
}

.modules-left #window {
  padding: 0px 10px;
}

label#custom-swaylock {
  padding: 0px 10px;
}

.modules-right label {
  padding: 0px 6px;
}

#custom-weather {
  color: @waybar_orange_color;
}

#battery.charging, #battery.charging.warning, #battery.charging.critical {
  background: @waybar_green_background_color;
}
#battery.warning {
  background: @waybar_orange_color;
}
#battery.critical {
  background: @waybar_red_color;
}

#bluetooth {
  color: @waybar_blue_color;
}

#blueetoth.connected, #bluetooth.pairable {
  color: @waybar_green_color;
}

#blueetoth.off, #bluetooth.disabled {
  color: @waybar_red_color;
}
#blueetoth.disconnected {
  color: @waybar_orange_color;
}

#network.ethernet, #network.wifi {
  color: @waybar_blue_color;
}

#cpu.very-high, #memory.very-high, #disk.very-high {
  color: @waybar_red_color;
}
#cpu.high, #memory.high, #disk.high {
  color: @waybar_orange_color;
}
#cpu, #memory {
  color: @waybar_green_color;
}
